header{
    background-color: #1c1c1c;
    font-size: 20px;
    font-family: serif;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header p{
    font-size: 15px;
    background: repeating-linear-gradient(to right,rgb(209, 206, 215),rgb(24, 143, 195));
    padding: 8px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.MENU  {
    margin-right: 150px;
    margin-left: 150px;
    display: inline-block;
    color: aliceblue;
}

body{
    
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffffff, #d1d1d1); /* Dégradé fluide */
    background-repeat: no-repeat;         /* Empêche les bandes */
    background-attachment: fixed;         /* Optionnel : reste fixe pendant le scroll */
    background-size: 100% 100vh;          /* S'étire sur toute la hauteur */

}

.nom {
    background: linear-gradient(90deg, #0099c3, #a6a4a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#présentation{
    margin-top: 80px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#Fonction{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    object-fit: cover; /* optionnel pour bien remplir la zone */
    border-radius: 30px;
}

